rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read/write to the organization, departments, and locations collections
    match /{collection=**} {
      allow read, write: if request.auth != null;
    }
  }
}
